@charset "UTF-8";
.wrapper .infor_container{
  border: 1px solid rgba(4, 170, 196, 0.5);
  margin-bottom: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.50);
}
.wrapper .infor_container h4{
  border-bottom: 1px solid rgba(4, 170, 196, 0.5);
  padding: 10px;
  text-align: left;
  font-size: 16px;
  color: #bdbdbd;
}
.wrapper .infor_container  .ant-row{
  margin: 10px auto;
  padding:10px 20px;
}
.wrapper .infor_container ul li{
  text-align: left;
  color: #40a9ff;
  margin-bottom: 5px;
}
.wrapper .infor_container ul li span{
  width: 160px;
  color: #d7d7d7;
}
.wrapper .infor_container ul li button,
.create_form .from_container p button{
  height: 20px;
  background: #0f8ecf;
  color: white;
  padding: 1px 10px;
  font-size: 12px;
}
